.body {
	width: 100%;
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.serviceTableHeader {
	display: flex;
	color: rgba(255, 255, 255, 0.3);
}

.columnNumb {
	width: 5%;
	margin-left: 30px;
	color: rgba(255, 255, 255, 0.3);
}

.columnUrl {
	width: 22%;
	margin-left: 30px;
}

.columnService {
	width: 30%;
}

.columnDescription {
	width: 42%;
}

.columnEdit {
	width: 1%;
	padding-right: 35px;
}

.cell .columnUrl {
	color: #87ACF2;
}

.serviceTableBody {
	padding-bottom: 100px;
}