<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="add .kontur" stopProcessing="true">
                    <match url="vm-lastmile" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="vm-lastmile.kontur" />
                    </conditions>
                    <action type="Redirect" url="https://vm-lastmile.kontur/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
