.bcgField {
	height: 100%;
	width: 100%;
}

.menuItem {
	background: #1D2439;
	border: 1px solid #313B60;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 246px;
	height: 155px;
	position: absolute;
	z-index: 1;
	right: -20px;
	top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 22px;
	line-height: 26px;
	padding-top: 17px;
	box-sizing: border-box;
}

.menuItem span {
	padding: 17px 48px;
	width: 248px;
	box-sizing: border-box;
	text-align: center;
}

.menuItem span:hover {
	background: #333B58;
}

.menuItem:after {
	content: '';
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateX(-50%);
	background-color: #313B60;
	left: 187px;
	top: -4px;
	z-index: 1;
	border-radius: 2px 0;
}

.menuItem:before {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateX(-50%) translateZ(-1px);
	background-color: #1D2439;
	left: 187px;
	top: -2px;
	z-index: 2;
	border-radius: 2px 0;
}

.menuItem_item {
	cursor: pointer;
}