.popup {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.popup:before {
	display: block;
	content: ' ';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .5;
}

.popup-content {
	width: 778px;
	height: 630px;
	position: absolute;
	z-index: 90;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #171C2E;
	box-shadow: 0 0 24px rgba(44, 41, 77, 0.13);
	border-radius: 10px;
	box-sizing: border-box;
	padding: 40px 48px;
}

.popup_header {
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
}

.popup_header_close {
	cursor: pointer;
}

.popup_body {
	display: flex;
	flex-direction: column;
	margin-top: 37px;
	width: 682px;
}

.popup_bodyRight>div {
	padding-right: 0;
}

.popup_bodyRow {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	width: 100%;
}

.popup_nameBlock {
	display: flex;
	flex-direction: column;
}

.popup_blockField {
	width: 100%;
}

.popup_nameField {
	color: rgba(255, 255, 255, 0.29);
	font-weight: bold;
	font-size: 16px;
}

.popup_field {
	width: 310px;
	height: 60px;
}

.popup_fieldArea {
	width: 100%;
	height: 120px;
	resize: none;
	box-sizing: border-box;
}

.popup_fieldService {
	width: 330px;
}

.popup_field,
.popup_fieldArea {
	background-color: #3a3d4f;
	margin-top: 12px;
	font-size: 21px;
	padding-left: 18px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.14);
	border-radius: 2px;
}

.popup_footer {
	margin-top: 48px;
}

.popup_createBlock {
	height: 350px;
}